.hidden {
  display: none;
}

#templates {
  display: none;
}

.video-card {
  width: 600px;
  height: 460px;
  margin: 0 auto;
}

.demo-card-square {
  width: auto;
  height: auto;
}

.demo-card-square > .mdl-card__title {
  color: #fff;

}

#progress {
  width: 100%;
}

button.upload,
button.logout {
  margin-top: 25px;
}

button.logout {
  margin-left: 200%;
}
  
header {
  background: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: 280px;

}

.mdl-card__actions {
  justify-content: space-between;
  display: flex;
}

.mdl-card__actions a {
  width: 25%;
  margin: 6px;
}

.mdl-card__actions a span {
  background-size: 20%;
  background-position: 10% center;
  background-repeat: no-repeat;
}

a.icon-like span {
  background-image: url('/images/like.png');
}

a.icon-love span {
  background-image: url('/images/love.png');
}

a.icon-dislike span {
  background-image: url('/images/dislike.png');
  background-position: 6% center;
}

a.icon-happy span {
  background-image: url('/images/happy.png');
  background-position: 8% center;
}

.ranking-tabs {
  height: 50px;
}