.hidden {
  display: none;
}

#templates {
  display: none;
}

.video-card {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.demo-card-square {
  width: auto;
  height: auto;
}

.demo-card-square > .mdl-card__title {
  color: #fff;

}

#progress {
  width: 100%;
}

.video-card {
  height: 440px;
}
